body{
    color:white;
}
.children{
    margin: 0% auto;
    text-align: center;
    border: chartreuse solid 1px;
    width: 90%;
    height: 20px;
    background-color: forestgreen;
}
.father{
    text-align: center;
    border: olive solid 1px;
    width: 300px;
    height: 500px;
    float: left;
    background-color: olive;
}
.me{
    margin: 0 auto;
    text-align: center;
    border: aqua solid 1px;
    width: 90%;
    height: 150px;
    background-color: goldenrod;
}
#buttons{
    width: 80%;
    text-align: center;
}
.new{
    background-color: coral;
}